<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="container">
    <div class="row">

      <div class="twelve columns box">
        <h3>Bill with settings</h3>
        <div class="">
          Select the call or sms radio button. Update the appropriate total and the overall total when the ADD button in
          pressed.
          <i>Calls costs should now be configurable using the settings section.</i>
        </div>
        <div class="">
          <i>If the total cost exceed the warning level show the total cost in orange, if it exceeds the critical level
            show it in red and prevent any new costs from being added. The warning and critical level should both be
            configurable now.</i>
        </div>

        <hr>

        <div class="row">

          <div class="six columns">
            <h5>Bill type</h5>
            <form action="/action" method="POST">
              <label class="">
                <input type="radio" name="actionType" value="call" class="billItemTypeWithSettings">
                <span class="label-body">Call</span>
              </label>
              <label class="">
                <input type="radio"  name="actionType" value="sms" class="billItemTypeWithSettings">
                <span class="label-body">SMS</span>
              </label>
              <button class="button-primary" type="submit" name="button">Add</button>
            </form>

            <h5>Totals</h5>
            <table>
              <tr>
                <td>
                  <a href="/actions/call">Call total</a>
                </td>
                <td>R<span class="callTotalSettings">{{totals.callTotal}}</span> </td>
              </tr>
              <tr>
                <td>
                  <a href="/actions/sms">SMS total</a>
                </td>
                <td>R<span class="smsTotalSettings">{{totals.smsTotal}}</span> </td>
              </tr>
              <tr>
                <td>
                  <a href="/actions">Total</a>
                </td>
                <td> R<span class="totalSettings {{totalClassName}}">{{totals.grandTotal}}</span> </td>
              </tr>
            </table>

          </div>
          <div class="six columns">
            <h5>Settings</h5>
            <form action="/settings" method="POST">
              <label for="exampleEmailInput">Call cost</label>
              <input class="u-full-width callCostSetting" step=".01" type="number" name="callCost" placeholder="eg. 2.55"
                value="{{setting.callCost}}">
              <label for="exampleEmailInput">SMS cost</label>
              <input class="u-full-width smsCostSetting" step=".01" type="number" name="smsCost" placeholder="eg. 0.65"
                value="{{setting.smsCost}}">
              <label for="">Warning level</label>
              <input class="u-full-width warningLevelSetting"  step=".01" type="number" name="warningLevel" placeholder="eg. 30.00"
                class="warningLevel" value="{{setting.warningLevel}}">
              <label for="">Critical level</label>
              <input class="u-full-width criticalLevelSetting" step=".01" type="number" name="criticalLevel"
                placeholder="eg. 65.00" value="{{setting.criticalLevel}}">
              <button class="button-primary updateSettings" type="submit" name="button">Update settings</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>